<footer class="w-full bg-green-500 text-white p-4 flex flex-col justify-center items-center">
    <ul>
        <li class="inline-block px-1 text-lg">
            <i class="fab fa-facebook hover:text-gray-300"></i>
        </li>
        <li class="inline-block px-1 text-lg">
            <i class="fab fa-twitter hover:text-gray-300"></i>
        </li>
        <li class="inline-block px-1 text-lg">
            <i class="fab fa-instagram hover:text-gray-300"></i>
        </li>
        <li class="inline-block px-1 text-lg">
            <i class="far fa-envelope hover:text-gray-300"></i>
        </li>
        <li class="inline-block px-1 text-lg">
            <i class="fab fa-youtube hover:text-gray-300"></i>
        </li>
    </ul>
    <p class="text-sm pt-4">Copyright ©Livra</p>
</footer>